@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  @apply w-full bg-red-600 text-white py-2 rounded-xl font-medium;
}


.btn-secondary {
  @apply w-full bg-green-600 text-white py-2 rounded-xl font-medium;
}


.btn-outline {
  @apply w-full border border-gray-300 py-2 rounded-xl;
}


.btn-ghost {
  @apply w-full text-gray-500 py-2;
}


.input {
  @apply w-full border rounded-xl px-3 py-2;
}